:root {
  --logo-color: #505050;
  --card-bg: #fff;
}

@view-transition {
  navigation: auto;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  display: grid;
  place-items: center;
  background: linear-gradient(12deg, transparent 65%, #9bbaff 90%),
    linear-gradient(
      to top left,
      #eaf2fb,
      rgba(255, 255, 255, 0),
      hsl(192, 100%, 77%)
    ),
    linear-gradient(to top right, #eaf2fb 30%, #dac6e0 65%, #e58eff) #fff;
}

.bing-logo {
  aspect-ratio: 1 / 1;
  width: 19rem;
  height: 19rem;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--card-bg);
  border: 1px solid red;
  color: var(--logo-color);
  border-radius: 8rem;
}

/*
 * This tries to offset the logo a bit to make it closer to the reference logo offset.
 */
.bing-logo svg {
  position: relative;
  left: 0.6rem;
  top: 0.1rem;
}

.bing-logo figcaption {
  text-align: center;
  font-size: 2.75rem;
}

.bing-logo img {
  width: 100%;
  height: auto;
}
