@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' layer(normalize);

:root {
  --logo-color: #505050;
  --card-bg: #fff;
  --root-font-size: 75%; /* 12px */
}

@view-transition {
  navigation: auto;
}

html {
  font-size: var(--root-font-size);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: grid;
  place-items: center;
  background:
    linear-gradient(12deg, transparent 65%, #9bbaff 90%),
    linear-gradient(to top left, #eaf2fb, rgba(255, 255, 255, 0), hsl(192, 100%, 77%)),
    linear-gradient(to top right, #eaf2fb 30%, #dac6e0 65%, #e58eff) #fff;
}

.bing-logo {
  display: block;
  background: var(--card-bg);
  color: var(--logo-color);
  border-radius: 9rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  transition: all 0.5s ease;
  transform: scale(1);

  @starting-style {
    box-shadow: none;
    background: transparent;
    transform: scale(0.5);
  }
}

.bing-logo:hover {
  transform-origin: center center;
  transform: scale(1.025);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
}

.bing-logo figure {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 19rem;
  height: 19rem;
  padding: 3rem 1.5rem;
  aspect-ratio: 1 / 1;
}

/*
 * This tries to offset the logo a bit to make it closer to the reference logo offset.
 */
.bing-logo svg {
  position: relative;
  left: 16px;
  top: 6px;
}

.bing-logo figcaption {
  text-align: center;
  font-size: 2.75rem;
}

.bing-logo img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 60rem) {
  :root {
    --root-font-size: 100%; /* 16px */
  }
}
