@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' layer(normalize);

:root {
  --text-color: #606473;
  --accent-color: #05cf6e;
  --root-font-size: 87.5%; /* 14px */

  --outline-padding: 0.25em;

  --page-bg-color: #f0efea;

  --panel-bg-color: #fff;
  --panel-date-color: #aeb1dd;
  --panel-divider-color: #f5f6fa;
  --panel-padding-inline: 1rem;

  --item-dimmed-color: #0004;

  --form-input-border: #0002;
  --form-action-fg-color: #fff;
  --form-action-bg-color: var(--accent-color);

  --item-done-color: var(--accent-color);
  --item-pending-color: var(--item-dimmed-color);
  --item-pending-hover-color: #05cf6e22;
  --item-done-hover-color: #f002;
}

/* Base styles */

:where(button) {
  all: unset;
  cursor: pointer;
  padding: var(--outline-padding);
  white-space: nowrap;
}

:where(button:focus-visible) {
  outline: medium auto currentColor;
  outline: medium auto invert;
  outline: 5px auto -webkit-focus-ring-color;
}

:where(ul) {
  margin: 0;
  padding: 0;
}

:where(li) {
  list-style: none;
}

/* /Base styles */

@view-transition {
  navigation: auto;
}

html {
  font-size: var(--root-font-size);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  background: var(--page-bg-color);
  touch-action: manipulation;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  place-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.app {
  view-transition-name: app;
  background: var(--panel-bg-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  min-width: 18.8rem;
  width: 100%;
}

.app header {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  text-align: center;
  padding: 2rem;
  border-block-end: 4px solid var(--panel-divider-color);
}

.app .month {
  color: var(--text-color);
  margin: 0;
  font-size: 2.5rem;
}

.app .date {
  margin: 0;
  color: var(--panel-date-color);
}

.app .body {
  min-height: 17.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem var(--panel-padding-inline) 2rem;
}

.app .list {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem var(--panel-padding-inline);
  margin-inline: calc(var(--panel-padding-inline) * -1);
  cursor: pointer;
  transition: background 0.25s ease;
}

.list li:not(.empty):hover {
  background: var(--item-pending-hover-color);
}

.list li.done:not(.empty):hover {
  background: var(--item-done-hover-color);
}

.list .status {
  font-size: 1.4em;
}

.list li .status {
  color: var(--item-pending-color);
}

.list li.done .label {
  text-decoration: line-through;
  color: var(--item-dimmed-color);
}

.list li.done .status {
  color: var(--item-done-color);
}

.list li.empty {
  justify-content: center;
  font-style: italic;
  padding-block: 5rem;
  color: var(--item-dimmed-color);
  cursor: default;
}

.add-todo {
  view-transition-name: addTodoForm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.add-todo input {
  border: 1px solid var(--form-input-border);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.add-todo input::placeholder {
  color: var(--panel-date-color);
}

.add-todo .submit {
  background: var(--form-action-bg-color);
  color: var(--form-action-fg-color);
  padding: 0.8rem 1.25rem;
  border-radius: 99rem;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.1ch;
}

@media only screen and (min-width: 32rem) {
  :root {
    --root-font-size: 100%; /* 16px */
  }

  body {
    padding: 1rem 1rem 2.5rem;
  }

  .app {
    width: initial;
  }

  .add-todo {
    flex-direction: column;
  }

  .add-todo .action {
    position: relative;
    text-align: center;
  }

  .add-todo .submit {
    position: absolute;
    inset-block-start: 0.8rem;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    padding: 0.6rem 2.5rem;
  }
}
