@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
  layer(normalize);
@import url("./fonts/karlotte.css");

:root {
  --text-light: #fff;
  --text-dark: #000;
  --page-bg-color: #f7efe4;
  --accent-color: #000;
  --root-font-size: 87.5%; /* 14px */
  --outline-padding: 0.25em;

  --heading-spacing: 3.5rem;
  --frame-spacing: min(8vw, 5.4rem);
  --transition-delay: 0.25s;

  --z-nav: 10;
}

@view-transition {
  navigation: auto;
}

html {
  font-size: var(--root-font-size);
  -webkit-font-smoothing: antialiased;
  background: var(--page-bg-color);
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

/* Base styles */
:where(button) {
  all: unset;
  cursor: pointer;
  padding: var(--outline-padding);
  white-space: nowrap;
}

:where(button:focus-visible) {
  outline: medium auto currentColor;
  outline: medium auto invert;
  outline: 5px auto -webkit-focus-ring-color;
}

:where(ul) {
  margin: 0;
  padding: 0;
}

:where(li) {
  list-style: none;
}

:where(a) {
  text-decoration: none;
  padding: var(--outline-padding);
  display: inline-block;
}

:where(a:hover) {
  text-decoration: underline;
}

:where(img) {
  max-width: 100%;
  width: 100%;
  height: auto;
}

:where(hr) {
  border: 0;
  height: 3px;
  background: currentColor;
  border-radius: 99rem;
}

/* Utility class to hide content from normal flow but show for screen readers. */
/* Taken from FontAwesome's all.css. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
/* /Base styles */

body {
  min-height: 100dvh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.title {
  font-family: Karlotte;
  font-weight: 400;
}

.site-nav {
  position: absolute;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: var(--heading-spacing) var(--frame-spacing) 0;
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  z-index: var(--z-nav);
}

.lang ul {
  display: flex;
  gap: 3.25rem;
}

.lang a {
  color: var(--text-light);
  font-weight: 600;
  font-size: 0.95rem;
  display: block;
}

.lang .active a {
  font-weight: 900;
  opacity: 1;
}

.shop-now {
  display: block;
  width: 100%;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  padding: 1.5em;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  transition: background var(--transition-delay) ease;
}

.shop-now:hover {
  background: var(--text-light);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-light);
  gap: 2rem;
  align-items: center;
  position: relative;
  left: -0.5rem;
}

.menu-icon {
  --color: currentColor;
  --line-padding: 0.1em;

  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  opacity: 0.8;
  transition: opacity var(--transition-delay) ease;
}

.menu-icon > span {
  position: absolute;
  background: var(--color);
  height: 2px;
  inset-inline: var(--line-padding);
  display: block;
}

.menu-icon > span:nth-child(1) {
  inset-block-start: var(--line-padding);
}

.menu-icon > span:nth-child(2) {
  inset-block-start: 50%;
  transform: translateY(-50%);
}

.menu-icon > span:nth-child(3) {
  inset-block-end: var(--line-padding);
}

.nav-menu .menu-icon {
  opacity: 1;
}

.hero-front {
  position: relative;
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--frame-spacing) calc(var(--frame-spacing) * 2);
  box-sizing: border-box;
  color: var(--text-light);
  background: linear-gradient(#0000 50%, #0008);
}

.hero-front > img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-front .title {
  font-size: 20vw;
  line-height: 0.9;
  margin: 0 0 2rem 0;
}

.hero-gallery-header {
  padding-top: calc(var(--heading-spacing) * 3);
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
}

.hero-gallery-header .hero-description {
  width: 5rem;
  line-height: 1.3;
}

.hero-gallery-controls {
  --gallery-arrow-width: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.2rem;
}

.hero-gallery-controls.mobile {
  margin-inline: auto;
}

.hero-gallery-controls.desktop {
  display: none;
}

.hero-gallery-controls hr {
  --hover-length: var(--transition-delay);
  --color-hover: var(--text-light);
  --color-idle: color-mix(in srgb, var(--color-hover), transparent 50%);
  position: relative;
  border: 0;
  height: 3px;
  background: linear-gradient(90deg, var(--color-idle), var(--color-idle));
  border-radius: 99rem;
  width: min(7rem, 20vw);
  transition: all var(--hover-length) ease;
}

.hero-gallery-controls hr::before {
  border-color: transparent var(--color-hover) transparent transparent;
  inset-inline-start: var(--arrow-offset);
}

.hero-gallery-controls hr::after {
  border-color: transparent transparent transparent var(--color-hover);
  inset-inline-end: var(--arrow-offset);
}

.hero-gallery-controls hr::before,
.hero-gallery-controls hr::after {
  --arrow-offset: calc(var(--gallery-arrow-width) * -1);
  content: "";
  position: absolute;
  inset-block-start: 50%;
  border-width: var(--gallery-arrow-width);
  border-style: solid;
  transform: translateY(-50%);
  opacity: 0;
  transition: all var(--hover-length) ease;
}

.hero-gallery-controls button:focus,
.hero-gallery-controls button:hover {
  text-decoration: underline;
  position: relative;
}

.hero-gallery-controls hr:has(+ button:focus),
.hero-gallery-controls button:focus + hr,
.hero-gallery-controls hr:has(+ button:hover),
.hero-gallery-controls button:hover + hr {
  border-radius: 0;
}

.hero-gallery-controls button:focus + hr,
.hero-gallery-controls button:hover + hr {
  background: linear-gradient(90deg, var(--color-hover), transparent 75%);
}

.hero-gallery-controls hr:has(+ button:focus),
.hero-gallery-controls hr:has(+ button:hover) {
  background: linear-gradient(90deg, transparent 25%, var(--color-hover));
}

.hero-gallery-controls button:focus + hr::before,
.hero-gallery-controls hr:has(+ button:focus)::after,
.hero-gallery-controls button:hover + hr::before,
.hero-gallery-controls hr:has(+ button:hover)::after {
  --arrow-offset: calc(var(--gallery-arrow-width) * -2);
  opacity: 1;
}

.hero-gallery-nav {
  position: absolute;
  inset: auto calc(var(--frame-spacing) / 1.5) var(--frame-spacing) auto;
  display: none;
  gap: 5rem;
}

.hero-gallery-nav button {
  --button-color: color-mix(in srgb, var(--text-light), transparent 50%);
  display: grid;
  place-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border-radius: 99rem;
  border: 1px solid transparent;
}

.hero-gallery-nav button:focus-visible,
.hero-gallery-nav button:hover,
.hero-gallery-nav .active button {
  --button-color: var(--text-light);
}

.hero-gallery-nav .active button {
  border: 1px solid var(--button-color);
}

.hero-gallery-nav button::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: var(--button-color);
  border-radius: 99rem;
}

.site-footer ul {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-block: 2rem;
}

.site-footer a {
  color: var(--text-dark);
  opacity: 0.8;
  font-size: 2rem;
  font-weight: bold;
}

.site-footer a:focus,
.site-footer a:hover {
  opacity: 1;
}

.site-footer a:focus i,
.site-footer a:hover i {
  opacity: 0.8;
}

.site-footer a i {
  font-size: 0.8em;
  opacity: 0;
}

.hero-article-reference {
  pointer-events: none;
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  font-size: min(3vw, 1.3rem);
  padding-block: 1rem;
}

.hero-article-reference hr {
  display: none;
}

.hero-more {
  display: flex;
  gap: 2rem;
  padding: 0 1rem 1rem;
}

.hero-thumb-01 {
  flex: 1;
}

.hero-more-row {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-thumb-01 {
  position: relative;
  overflow: hidden;
}

.hero-thumb-01 img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: top;
  height: 100%;
}

@media only screen and (min-width: 80rem) {
  :root {
    --root-font-size: 100%; /* 16px */
  }

  .hero {
    display: flex;
    align-items: flex-end;
  }

  .hero-front {
    min-height: 100dvh;
    flex: 0;
    flex-basis: 60%;
    padding: 0 calc(var(--frame-spacing) / 2) calc(var(--frame-spacing) * 2)
      var(--frame-spacing);
  }

  .hero-front .title {
    font-size: clamp(8rem, 14vw, 13rem);
    max-width: 0;
  }

  .hero-gallery-nav {
    display: flex;
  }

  .hero-gallery-controls.desktop {
    display: flex;
  }

  .hero-gallery-controls.mobile {
    display: none;
  }

  .hero-more {
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    flex-basis: 40%;
    padding: calc(var(--frame-spacing) * 2) var(--frame-spacing)
      var(--frame-spacing) calc(var(--frame-spacing) / 1.5);
    box-sizing: border-box;
    max-height: 90dvh;
    gap: 2rem;
  }

  .hero-more-row {
    flex-direction: row;
    align-items: flex-end;
  }

  .hero-thumb-01 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    box-sizing: border-box;
  }

  .hero-thumb-01 img {
    position: static;
    width: 60%;
    height: auto;
    max-height: 60vh;
    margin-left: auto;
    object-fit: contain;
  }

  .hero-more {
    flex-direction: column;
  }

  .hero-thumb-02 {
    flex: 1;
  }

  .hero-cta {
    flex: 1;
  }

  .hero-gallery-header {
    flex-direction: row;
    margin-bottom: 6rem;
  }

  .hero-article-reference {
    pointer-events: none;
    position: absolute;
    inset: 0 var(--frame-spacing) 0 auto;
    max-height: 100dvh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    justify-content: center;
    gap: 4rem;
    font-size: 0.9rem;
    padding-block: 0;
  }

  .hero-article-reference hr {
    display: block;
    height: 10vh;
    width: 2px;
    margin-inline: 0;
  }

  .lang a {
    color: var(--inverted-link-color);
  }

  .site-footer {
    position: absolute;
    inset: auto auto var(--frame-spacing) var(--frame-spacing);
  }

  .site-footer ul {
    padding-block: 0;
  }

  .site-footer a {
    color: var(--text-light);
    font-size: 1rem;
  }
}
