@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
  layer(normalize);
@import url("./fonts/karlotte.css");

:root {
  --text-color: #fff;
  --text-color-inverted: #000;
  --accent-color: #000;
  --link-color: #fff;
  --root-font-size: 87.5%; /* 14px */
  --outline-padding: 0.25em;

  --heading-spacing: 4rem;
  --frame-spacing: min(10vw, 5.4rem);
}

@view-transition {
  navigation: auto;
}

html {
  font-size: var(--root-font-size);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Base styles */
:where(button) {
  all: unset;
  cursor: pointer;
  padding: var(--outline-padding);
}

:where(button:focus-visible) {
  outline: medium auto currentColor;
  outline: medium auto invert;
  outline: 5px auto -webkit-focus-ring-color;
}

:where(ul) {
  margin: 0;
  padding: 0;
}

:where(li) {
  list-style: none;
}

:where(a) {
  text-decoration: none;
  padding: var(--outline-padding);
  display: inline-block;
}

:where(a:hover) {
  text-decoration: underline;
}

:where(img) {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Utility class to hide content from normal flow but show for screen readers. */
/* Taken from FontAwesome's all.css. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
/* /Base styles */

body {
  min-height: 100dvh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.title {
  font-family: Karlotte;
  font-weight: 400;
}

.site-nav {
  position: absolute;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: var(--heading-spacing) var(--frame-spacing) 0;
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
}

.lang ul {
  display: flex;
  gap: 3.25rem;
}

.lang a {
  color: var(--text-color);
  font-weight: 600;
  font-size: 0.95rem;
  display: block;
}

.lang .active a {
  font-weight: 900;
  opacity: 1;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  gap: 2rem;
  align-items: center;
  position: relative;
  left: -0.5rem;
}

.menu-icon {
  --color: currentColor;
  --line-padding: 0.1em;

  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  opacity: 0.8;
}

.menu-icon > span {
  position: absolute;
  background: var(--color);
  height: 2px;
  inset-inline: var(--line-padding);
  display: block;
}

.menu-icon > span:nth-child(1) {
  inset-block-start: var(--line-padding);
}

.menu-icon > span:nth-child(2) {
  inset-block-start: 50%;
  transform: translateY(-50%);
}

.menu-icon > span:nth-child(3) {
  inset-block-end: var(--line-padding);
}

.hero-front {
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--frame-spacing) calc(var(--frame-spacing) * 2);
  box-sizing: border-box;
  color: var(--text-color);
  background: linear-gradient(#0000 50%, #0008);
}

.hero-front > img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-front .title {
  font-size: 20vw;
  line-height: 0.9;
  margin: 0 0 2rem 0;
}

.hero-gallery-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
}

.hero-gallery-header .hero-description {
  width: 5rem;
  line-height: 1.3;
}

.hero-gallery-controls {
  --gallery-arrow-width: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.2rem;
}

.hero-gallery-controls.mobile {
  margin-inline: auto;
}

.hero-gallery-controls.desktop {
  display: none;
}

.hero-gallery-controls hr {
  --hover-length: 0.25s;
  --color-hover: var(--text-color);
  --color-idle: color-mix(in srgb, var(--color-hover), transparent 50%);
  position: relative;
  border: 0;
  height: 3px;
  background: linear-gradient(90deg, var(--color-idle), var(--color-idle));
  border-radius: 99rem;
  width: min(7rem, 20vw);
  transition: all var(--hover-length) ease;
}

.hero-gallery-controls hr::before {
  border-color: transparent var(--color-hover) transparent transparent;
  inset-inline-start: var(--arrow-offset);
}

.hero-gallery-controls hr::after {
  border-color: transparent transparent transparent var(--color-hover);
  inset-inline-end: var(--arrow-offset);
}

.hero-gallery-controls hr::before,
.hero-gallery-controls hr::after {
  --arrow-offset: calc(var(--gallery-arrow-width) * -1);
  content: "";
  position: absolute;
  inset-block-start: 50%;
  border-width: var(--gallery-arrow-width);
  border-style: solid;
  transform: translateY(-50%);
  opacity: 0;
  transition: all var(--hover-length) ease;
}

.hero-gallery-controls button:focus,
.hero-gallery-controls button:hover {
  text-decoration: underline;
  position: relative;
}

.hero-gallery-controls hr:has(+ button:focus),
.hero-gallery-controls button:focus + hr,
.hero-gallery-controls hr:has(+ button:hover),
.hero-gallery-controls button:hover + hr {
  border-radius: 0;
}

.hero-gallery-controls button:focus + hr,
.hero-gallery-controls button:hover + hr {
  background: linear-gradient(90deg, var(--color-hover), transparent 75%);
}

.hero-gallery-controls hr:has(+ button:focus),
.hero-gallery-controls hr:has(+ button:hover) {
  background: linear-gradient(90deg, transparent 25%, var(--color-hover));
}

.hero-gallery-controls button:focus + hr::before,
.hero-gallery-controls hr:has(+ button:focus)::after,
.hero-gallery-controls button:hover + hr::before,
.hero-gallery-controls hr:has(+ button:hover)::after {
  --arrow-offset: calc(var(--gallery-arrow-width) * -2);
  opacity: 1;
}

.hero-gallery-nav {
  position: absolute;
  inset: auto calc(var(--frame-spacing) / 1.5) var(--frame-spacing) auto;
  display: none;
  gap: 5rem;
}

.hero-gallery-nav button {
  --button-color: color-mix(in srgb, var(--link-color), transparent 50%);
  display: grid;
  place-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border-radius: 99rem;
  border: 1px solid transparent;
}

.hero-gallery-nav button:focus-visible,
.hero-gallery-nav button:hover,
.hero-gallery-nav .active button {
  --button-color: var(--link-color);
}

.hero-gallery-nav .active button {
  border: 1px solid var(--button-color);
}

.hero-gallery-nav button::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: var(--button-color);
  border-radius: 99rem;
}

.site-footer {
  position: absolute;
  inset: auto auto var(--frame-spacing) var(--frame-spacing);
}

.site-footer ul {
  display: flex;
  gap: 2.5rem;
}

.site-footer a {
  color: var(--text-color);
  text-decoration: none;
  opacity: 0.8;
}

.site-footer a:focus,
.site-footer a:hover {
  opacity: 1;
}

.site-footer a:focus i,
.site-footer a:hover i {
  opacity: 0.8;
}

.site-footer a i {
  font-size: 0.8em;
  opacity: 0;
}

/* ### /FOOTER ### */

@media only screen and (min-width: 60rem) {
  :root {
    --root-font-size: 100%; /* 16px */
  }

  .hero {
    display: flex;
  }

  .hero-front {
    flex: 0;
    flex-basis: 60%;
    padding: 0 calc(var(--frame-spacing) / 2) calc(var(--frame-spacing) * 2)
      var(--frame-spacing);
  }

  .hero-front .title {
    font-size: clamp(9rem, 15vw, 13rem);
  }

  .hero-gallery-nav {
    display: flex;
  }

  .hero-gallery-controls.desktop {
    display: flex;
  }

  .hero-gallery-controls.mobile {
    display: none;
  }

  .hero-gallery-header {
    flex-direction: row;
    margin-bottom: 6rem;
  }

  .hero-more {
    flex: 0;
    display: none;
  }

  .lang a {
    color: var(--inverted-link-color);
  }
}
